body{
    color:rgb(8, 1, 21);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0%;

}

#container{
    color:white;
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0, 5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0,8em;

}

#container h1
{
    font-size: 50px;
}
.parrafo1{
    color: #f00;
    text-align: center;
    font-weight: bold;
    padding: 1em 0 0 0;

}